h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
ul{
    background-color: blue;
    font-style: italic;
    line-height: 50px;
    text-align: center;
}
.cor-fundo {
    background-color: yellow;
    
}
p{
    font-weight: 600;
    font-size: 3em  ;
    text-align: center;
}
body{
    font-size: 16px;
    text-decoration: underline
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}